

.MainMenu{
  height: 6.8vh;
  width: 99%;
  padding: 0px;
  margin:0px;
  background-color:#242424;
  border:10px solid #242424;
}

.MainMenuButton{
    background-color:#242424; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    border:1px solid #242424;
  
}
#loginButton{
  background-color: #3fa042;
  
}
#logoutButton{
  background-color: #ac2929;
}
.Buttons{
  float:right;
}
#userCardProfilePic{
  float:left;
}
#userCardUserName{
  float:right;
}


